#loadingRow {
    margin-bottom: 5px;
    background: url(/custom/img/ajax-loader.gif) no-repeat center center;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.bar {
    fill: #bf9030;
}
.bar:hover {
    fill: #f4d494;
}

.valueShape {
    fill: #bf9030;
    stroke: #816120;
}

.valueText {
    fill: white;
}

ul.chartNav li a {
    color: #333333;
}
ul.chartNav li a:hover {
    background-color: #f4d494;
}
ul.chartNav li.active a {
    background-color: #bf9030;
    color: #white;
}
ul.chartNav li.active a:hover {
    background-color: #bf9030;
}
.btn-bar-sort {
  float: right !important;
}
